.wrapper {
    display: flex;
    flex-flow: column wrap;
    text-align: center;

}
.wrapper > * {
    padding: 10px;
    margin: 10px;
    flex: 1 100%;
    border-radius: 10px;

}
.header {
    background: #ff0000;
    height: 120px;
}

.footer {
    background: #00ff00;
    height: 100;

}
.main {
    text-align: left;
    background: #0000ff;
    height: 200px;
    font-size: 20px;
}
.aside1 {
    background: #ff0000;
}
.aside2 {
    background: #ff0000;
}
.aside3 {
    background: #0000ff;
}
